/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"

$primary-color: #000000

body
  font: 100%
  color: $primary-color

div#dib-body-header-title
  h1
    font-size: 3em
    text-align: center

div#section-header
  h2
    font-size: 3em

div.contact-info
  h1.contact-info
    text-align: center
    font-size: 6em

