{% extends "dib/dib-base.html" %}

{% import "layouts/contact_info.html" as c_info %}

{% block title %}Alex Kim's Resume{% endblock %}

{% block basebody %}

    {{ c_info.render_contact_info("Alex Kim") }}

    {{ c_info.render_widget("widgets/alex_contact_info.html") }}

    {{ c_info.render_widget("widgets/alex_education_info.html") }}

    {{ c_info.render_widget("widgets/alex_experience_info.html") }}

    {{ c_info.render_widget("widgets/alex_technical_skills.html") }}

    {{ c_info.render_widget("widgets/alex_coursework.html") }}

{% endblock %}

		<head>
			<b>
				Relevant Coursework<br>
			</b>
		</head>
		3D Modeling I & II, Advanced Storytelling in Games, Animation I & II Artistic Game Development I & II, Concept Art, Creative Writing & Creative Writing in Science Fiction, Fantasy and Horror, Design of Tabletop Strategy Games, Digital Game Design, Digital Painting, Figure Drawing, Game Audio I
	</body>
</html>