
{% macro render_exp(location, dates, title, bps, citation=None) -%}

    <div class="ajk-resume ajk-resume-exp-header">
        <p class="ajk-resume-header-location">
           {{ location }}
        </p>
        <p class="ajk-resume-header-dates">
            {{ dates }}
        </p>
        <p class="ajk-resume-header-title">
            {{ title }}
        </p>
    </div>
    <div class="ajk-resume ajk-resume-exp-body">
        <ul class="ajk-resume-exp-body-list">
            {% for bp in bps %}
                <li class="ajk-resume-exp-body-list-element">
                    {{ bp }}
                </li>
            {% endfor %}
            {% if citation %}
                <li class="ajk-resume-exp-body-list-element">
                    <a href="{{ citation }}">Citation</a>
                </li>
            {% endif %}
        </ul>
    </div>


{%- endmacro %}


{%
  set osaka = {
        'location': 'Osaka University, Osaka, Japan',
        'dates': 'June - October 2013',
        'title': 'Game Designer & Artist',
        'bps': ['Collaborated with four other students to create a mobile multiplayer application targeted for Android OS, intended for users to play on train commutes.',
        'Lead the design and creation of two-dimensional art assets in Adobe Photoshop; authored the application specification report.',
        'Assisted in application architecture and QA process.',
        'Participated in the presentation (PowerPoint) and live demonstration of the application of Osaka University professors and graduate students.'],
        'citation': 'http://www.wpi.edu/Pubs/E-project/Available/E-project-110813-143928/'
  }
%}

{%
    set venice = {
        'location': 'Venice Mobility Department, Venice, Italy',
        'dates': 'October - December 2012',
        'title': 'Researcher & Web Manager',
        'bps': ['Collaborated with an interdisciplinary team to observe and analyze pedestrian traffic patterns within the city; presented findings to city officials.',
        'Created and managed web pages with information on major city streets.',
        'Established a foundation for future projects.'],
        'citation': 'http://www.wpi.edu/Pubs/E-project/Available/E-project-121412-161950/'
    }
%}

{%
    set bracedr = {
        'location': 'Bracedr, PC, Hamden, Connecticut',
        'dates': 'May - August 2012',
        'title': 'Software Developer',
        'bps': ['Adapted an educational CD-I program into a comprehensive PowerPoint application.',
        'Used to teach orthodontic patients about proper dental care while wearing braces.']
    }
%}

{%
    set crn = {
        'location': 'CRN International, Hamden, CT',
        'dates': 'May - August 2010',
        'title': 'Information Technology Intern',
        'bps': ['Assisted senior IT staff in performing software updates and maintenance.',
        'Constructed new computers to company specifications.']
    }
%}


{%
    set ncc = {
        'location': 'National Computer Camps, Fairfield, CT & Atlanta, GA',
        'dates': 'June - July 2009 & 2011',
        'title': 'Camp Counselor',
        'bps': ['Set up computers before camper arrival.',
        'Instructed campers in basic Java, C++, Multimedia Fusion 2 and 3D Game Studio.']
    }
%}
<div class="ajk-resume ajk-resume-exp-all">
    
    <h2 class="ajk-resume-section-title">
        Experience
    </h2>
    <br>
    {{ render_exp(osaka.location, osaka.dates, osaka.title, osaka.bps, osaka.citation) }}
    <br>
    {{ render_exp(venice.location, venice.dates, venice.title, venice.bps, venice.citation) }}
    <br>
    {{ render_exp(bracedr.location, bracedr.dates, bracedr.title, bracedr.bps) }}
    <br>
    {{ render_exp(crn.location, crn.dates, crn.title, crn.bps) }}
    <br>
    {{ render_exp(ncc.location, ncc.dates, ncc.title, ncc.bps) }}

</div>