{% macro render_courses(bps) -%}

   <div class="ajk-resume ajk-resume-courses-body">
        <ul class="ajk-resume-courses-body-list">
            {% for bp in bps %}
                <li class="ajk-resume-courses-body-list-element">
                    {{ bp }}
                </li>
            {% endfor %}
            {% if citation %}
                <li class="ajk-resume-courses-body-list-element">
                    <a href="{{ citation }}">Citation</a>
                </li>
            {% endif %}
        </ul>
    </div>

{% endmacro %}


{%
    set ajk = {
        'bps': ['3D Modeling I & II',
        'Advanced Storytelling in Games',
        'Animation I & II',
        'Artistic Game Development I & II',
        'Concept Art',
        'Creative Writing & Creative Writing in Science Fiction, Fantasy and Horror',
        'Design of Tabletop Strategy Games',
        'Digital Game Design',
        'Digital Painting',
        'Figure Drawing',
        'Game Audio I']
    }
%}

<div class="ajk-resume ajk-resume-courses-all">

    <h2 class="ajk-resume-section-title">
        Relevant Coursework
    </h2>
    <br>
    {{ render_courses(ajk.bps) }}

</div>

<!--
<div class="coursework">

    <b>
        Relevant Coursework<br>
    </b>

    3D Modeling I & II, Advanced Storytelling in Games, Animation I & II Artistic Game Development I & II, Concept Art,
    Creative Writing & Creative Writing in Science Fiction, Fantasy and Horror, Design of Tabletop Strategy Games, Digital Game Design, Digital Painting, Figure Drawing, Game Audio I

</div>
-->