
<div class="technical-skills">

    <hr>
    <b>
        Technical Skills
    </b>
    <ul>
        <li>
            3D Design: Maya, 3DS Max, Zbrush
        </li>
        <li>
            Visual Design: GIMP, Photoshop
        </li>
        <li>
            Interactive Design: Flash
        </li>
        <li>
            Audio Design: Audacity, Reaper
        </li>
        <li>
            Game Engines: Neverwinter Nights 2 Editor Unity, Unreal 3
        </li>
        <li>
            Hardware: Desktop Computer Assembly
        </li>
        <li>
            Microsoft Office: Excel, PowerPoint, Word
        </li>
    </ul>

</div>