<!doctype html>
<html>
    <head>
    <link href="{{ url_for('static', filename='stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='stylesheets/print.css') }}" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="{{ url_for('static', filename='stylesheets/ie.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <title> {% block title %}{% endblock %} - Design in Browser</title>

    {% block baseheader %}{% endblock %}

    </head>
    <body>
        {% include "dibnavbar.html" %}
        {% block basebody %}
        {% endblock %}
    </body>
</html>

